.bodyOpen {
    overflow-y: hidden;

    .modalOverlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0,0,0,.75);
        z-index: 100;

        .modal {
            position: relative;
            padding: 16px;

            width: 600px;

            border-radius: 4px;
            background: #eee;
        }
    }
}