.diagramsPanel {
    position: fixed;
    height: 100vh;
    width: 400px;
    padding: 100px 20px 20px;
    left: 0;
    top: 0;

    background: #333;
    box-shadow: 0 0 100px rgba(0, 0, 0, .6);
    color: #eee;
    z-index: 10;

    transform: translateX(0);
    transition: transform .6s ease-in-out;
    overflow-y: auto;

    .panelControls {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
    
        display: flex;
        justify-content: space-between;
    }
}

.diagramsPanel.hidden {
    transform: translateX(-150%);
}

@media all and (max-width: 500px) {
    .diagramsPanel {
        width: 100%;
    }
}